Repository c45/terraform-infra: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/dev-pr.yml, .azure-pipelines/prod-pr.yml

.azure-pipelines/dev-pr.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: PR
    jobs:
    - job: CI
      steps:
      - task: TerraformInstaller@0
        displayName: Install Terraform
        inputs:
          terraformVersion: v1.5.2
      - checkout: self
        displayName: Checkout Repository
      - task: TerraformCLI@0
  ...

.azure-pipelines/prod-pr.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: PR
    jobs:
    - job: CI
      steps:
      - task: TerraformInstaller@0
        displayName: Install Terraform
        inputs:
          terraformVersion: v1.5.2
      - checkout: self
        displayName: Checkout Repository
      - task: TerraformCLI@0
  ...

Update main.tf
  dev/main.tf
Due: .azure-pipelines/dev-pr.yml

Update prod-ci.yml for Azure Pipelines
  prod/.azure-pipelines/prod-ci.yml
Due: .azure-pipelines/prod-pr.yml

Update main.tf
  prod/main.tf
Due: .azure-pipelines/prod-pr.yml

Set up CI with Azure Pipelines
  .azure-pipelines/azure-pipelines.yml
Due: none

Update azure-pipelines.yml for Azure Pipelines
  .azure-pipelines/azure-pipelines.yml
Due: none

Update dev-ci.yml for Azure Pipelines
  dev/.azure-pipelines/dev-ci.yml
Due: .azure-pipelines/dev-pr.yml

Delete azure-pipelines.yml
  .azure-pipelines/azure-pipelines.yml
Due: none

Refactor
  .azure-pipelines/dev-pr.yml
  .azure-pipelines/prod-pr.yml
  .terraform.lock.hcl
  acr.tf
  azure-pipelines.yaml
  dev/.azure-pipelines/dev-ci.yml
  dev/resource_group.tf
  dev/terraform.tfvars
  dev/variables.tf
  fileshare.tf
  key_vault.tf
  main.tf
  private_endpoint.tf
  prod/.azure-pipelines/prod-ci.yml
  prod/.terraform.lock.hcl
  prod/acr.tf
  prod/fileshare.tf
  prod/key_vault.tf
  prod/main.tf
  prod/private_endpoint.tf
  prod/provider.tf
  prod/remote_state.tf
  prod/resource_group.tf
  prod/terraform.tfvars
  prod/variables.tf
  provider.tf
  remote_state.tf
  resource_group.tf
Due: .azure-pipelines/dev-pr.yml, .azure-pipelines/prod-pr.yml

Add new tags
  resource_group.tf
Due: none

Update azure-pipelines.yaml for Azure Pipelines
  azure-pipelines.yaml
Due: none

Update resource_group.tf
  resource_group.tf
Due: none

Delete fileshare.tf
  fileshare.tf
Due: none

Create fileshare.tf
  fileshare.tf
Due: none

Update acr.tf
  acr.tf
Due: none

Add docker integration
  main.tf
Due: none

Path conditions:
  .azure-pipelines/dev-pr.yml: any of: dev
  .azure-pipelines/prod-pr.yml: any of: prod
